<div class="supplier-list-container">
    <p-table 
      [value]="suppliers" 
      [paginator]="true" 
      [rows]="10"
      [loading]="loading"
      styleClass="p-datatable-gridlines"
      [globalFilterFields]="['companyName','cnpj']"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="companyName">Razão Social <p-sortIcon field="companyName"></p-sortIcon></th>
          <th pSortableColumn="cnpj">CNPJ <p-sortIcon field="cnpj"></p-sortIcon></th>
          <th pSortableColumn="supplierCode">Código <p-sortIcon field="supplierCode"></p-sortIcon></th>
          <th pSortableColumn="companyStatus">Status <p-sortIcon field="companyStatus"></p-sortIcon></th>
          <th style="width: 120px">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-supplier>
        <tr>
          <td>{{ supplier.companyName }}</td>
          <td>{{ supplier.cnpj }}</td>
          <td>{{ supplier.supplierCode }}</td>
          <td>
            <p-tag 
              [value]="formatStatus(supplier.companyStatus)" 
              [severity]="getStatusSeverity(supplier.companyStatus)">
            </p-tag>
          </td>
          <td>
            <div class="action-buttons">
              <button 
                pButton 
                icon="fa-regular fa-pen-to-square" 
                class="p-button-rounded p-button-text p-button-sm edit-btn"
                (click)="onEdit(supplier)"
                pTooltip="Editar" tooltipPosition="top"
              ></button>
              <button 
                pButton 
                icon="fa-regular fa-trash-can" 
                class="p-button-rounded p-button-text p-button-sm delete-btn"
                (click)="onDelete(supplier)"
                pTooltip="Excluir" tooltipPosition="top"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="text-center">
            Nenhum fornecedor encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  
    <dialog #confirmDialog class="custom-dialog">
      <div class="dialog-content">
        <h3>{{ dialogTitle }}</h3>
        <p [innerHTML]="dialogMessage"></p>
        <div class="dialog-buttons">
          <button (click)="dialogConfirm(false)" class="cancel-btn">Não</button>
          <button (click)="dialogConfirm(true)" class="confirm-btn">Sim, excluir</button>
        </div>
      </div>
    </dialog>
  
    <p-toast position="top-center"></p-toast>
  </div>