<div class="product-list-container">
  <p-toast position="top-right"></p-toast>
  
  <div class="card">
    <div class="header">
      <h1>Produtos</h1>
      <button 
        pButton 
        label="Novo Produto" 
        icon="fa-regular fa-plus"
        class="new-product-btn"
        (click)="onNewProduct()"
      ></button>
    </div>

    <div class="content">
      <app-product-list 
        (editProduct)="onEditProduct($event)"
        (createSuccess)="handleProductCreated($event)"
      ></app-product-list>
    </div>
  </div>
</div>